@charset "UTF-8";

.fancytree-organization-chart td{
	border-bottom-width: 0;
}

.swal2-container {z-index:10000;}

.dropzone2, .dropzone2 * {
  box-sizing: border-box;
}
.dropzone2 {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}
.dropzone2.dz-clickable {
  cursor: pointer;
}
.dropzone2.dz-clickable * {
  cursor: default;
}
.dropzone2.dz-clickable .dz-message, .dropzone2.dz-clickable .dz-message * {
  cursor: pointer;
}
.dropzone2.dz-started .dz-message {
  display: none;
}
.dropzone2.dz-drag-hover {
  border-style: solid;
}
.dropzone2.dz-drag-hover .dz-message {
  opacity: 0.5;
}
.dropzone2 .dz-message {
  text-align: center;
  margin: 2em 0;
}
.dropzone2 .dz-message .dz-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.dropzone2 .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}
.dropzone2 .dz-preview:hover {
  z-index: 1000;
}
.dropzone2 .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone2 .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}
.dropzone2 .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
.dropzone2 .dz-preview.dz-image-preview {
  background: white;
}
.dropzone2 .dz-preview.dz-image-preview .dz-details {
  transition: opacity 0.2s linear;
}
.dropzone2 .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
.dropzone2 .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
.dropzone2 .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone2 .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}
.dropzone2 .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}
.dropzone2 .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}
.dropzone2 .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
.dropzone2 .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropzone2 .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}
.dropzone2 .dz-preview .dz-details .dz-filename span, .dropzone2 .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.dropzone2 .dz-preview:hover .dz-image img {
  transform: scale(1.05, 1.05);
  filter: blur(8px);
}
.dropzone2 .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}
.dropzone2 .dz-preview .dz-image img {
  display: block;
}
.dropzone2 .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone2 .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone2 .dz-preview .dz-success-mark, .dropzone2 .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}
.dropzone2 .dz-preview .dz-success-mark svg, .dropzone2 .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}
.dropzone2 .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  transition: all 0.2s linear;
}
.dropzone2 .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.dropzone2 .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}
.dropzone2 .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}
.dropzone2 .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 300ms ease-in-out;
}
.dropzone2 .dz-preview.dz-error .dz-error-message {
  display: block;
}
.dropzone2 .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}
.dropzone2 .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}
.dropzone2 .dz-preview .dz-error-message:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}
.commute-status-div{
	width: 25%;
}
.commute-status-div button{
	width: 100%;
	max-width: 120px;
	margin: 0;
}
.fix-width { width:auto !important; }
.table-border-none th, .table-border-none td {border: none;}
#filesBlock label + input[type=file] { display:none }
#filesBlock label { display: flex; width: auto;padding: 0 13px;height: 45px;background: #1e40af;color: #fff;justify-content: center;margin-right: 11px;border-radius: 5px;}
#localeSettingDivRegion a { opacity: 0.5;  transition:all 0.1s ease-in-out; object-fit:cover; }
#localeSettingDivRegion a:hover { opacity:1 }